@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";
:root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #fff;
  --border: #e5e4e7;
  --code-bg: #f4f3ec;
  --accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow: rgba(0, 0, 0, 0.1) 0 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --poppins: "Poppins", sans-serif;
}

@theme {
  --color-default: oklch(0.9851 0 0);

  --color-card-background: oklch(0.9851 0 0);
  --color-card-border: oklch(0.9249 0 0);

  --color-foreground: oklch(37.3% 0.034 259.733);
  --color-foreground-dark: oklch(27.8% 0.033 256.848);
  --color-foreground-light: oklch(55.1% 0.027 264.364);

  --color-primary: oklch(0.5413 0.2466 293.01);
  --color-primary-dark: oklch(0.4295 0.2466 293.01);
  --color-primary-light: oklch(0.681 0.2466 293.01);

  --color-secondary: oklch(0.6231 0.188 259.81);
  --color-secondary-dark: oklch(0.4139 0.188 259.81);
  --color-secondary-light: oklch(0.7849 0.188 259.81);

  --color-variant: oklch(0.6959 0.1491 162.48);
  --color-variant-dark: oklch(0.5148 0.1491 162.48);
  --color-variant-light: oklch(0.9392 0.1491 162.48);

  --color-success: oklch(72.3% 0.219 149.579);
  --color-success-dark: oklch(62.7% 0.194 149.214);
  --color-success-light: oklch(87.1% 0.15 154.449);

  --color-error: oklch(63.7% 0.237 25.331);
  --color-error-dark: oklch(57.7% 0.245 27.325);
  --color-error-light: oklch(80.8% 0.114 19.571);

  --color-warning: oklch(81.2% 0.23 91.176);
  --color-warning-dark: oklch(70.5% 0.234 89.761);
  --color-warning-light: oklch(90.3% 0.15 94.588);
}

#root {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--poppins);
}

.gradient-color {
  background: linear-gradient(
    90deg,
    var(--color-secondary),
    var(--color-primary)
  );
}
